<h1>Games</h1>

<table>
  <tr>
    <th>Id</th>
    <th></th>
    <th>Action</th>
    <th colspan="2"></th>
  </tr>

  <% @games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td></td>
      <td><%= link_to 'Show', game_path(game) %></td>
    </tr>
  <% end %>
</table>

<% unless Game.any? %>
  <%= link_to 'Importar log', new_game_path %>
<% end %>
